* {
    margin: 0;
    padding: 0;
   }

.centro {
    background-color: gray ;
    height: 100%;
    margin: auto;
    padding: 5%;
    width: 80%;
}

.topo {
    color: whitesmoke;
    height: 20%;
    background-color: red;
    width: 100%;
}

.content {
background-color: silver;
width:80%;
margin:auto;
display: flex;
padding: 5%;
flex-wrap: wrap;
}

.esq {
    background-color: green;
    width: 50%;
}

.dir {
    background-color: dodgerblue;
    width: 50%;
}

@media screen and (min-width:300px) and (max-width:569px) {
    .centro {
        width: 100%;
    }
    .topo {
        width: 100%;
        text-align: center;
    }
    .content {
        padding: 0%;
    }
    .esq, .dir {
        width: 100%;
    }
}

@media screen and (max-width:800px) and (orientation:landscape){
body {
    background-color: navy;
    color: red;
}
}